/*
Name
Due Date
Project Name and Description
*/

/* The universal selector */

*  {

}

/* Body attributes here */

header {
    
background-color: lightcoral;
    text-align: center;

    
}#GirlDevelopIt {width:800px; height:400px; }

body  {

background-color: lightpink

}

#GirlsWithLaptops {width:400px; height:200px; float:right; }
#NotBoyFriendPC   {width:400px; height:200px; float:right; }
footer {
    
}
h1 {
    font-family: cursive
}
h2 {
    font-family:cursive
}
main {
    font-family: sans-serif
}

/*Links*/
a:hover, a:focus {color: fuchsia; text-decoration-color: underline; font-size: 150%}